.selected {
  background-color: #26C2AE;
  color: #00474B;
}

.unselected {
  background-color: #00474B;
  color: #FFFFFF;
}

.tips button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}

